CodeCoverageTesting/.idea/.idea.CodeCoverageTesting/.idea/

CodeCoverageTesting/CodeCoverageTesting.UnitTests/obj/
CodeCoverageTesting/CodeCoverageTesting.UnitTests/bin/

CodeCoverageTesting/CodeCoverageTesting/obj/
CodeCoverageTesting/CodeCoverageTesting/bin/

.yarn/*
!.yarn/patches
!.yarn/releases
!.yarn/plugins
!.yarn/sdks
!.yarn/versions
.pnp.*

node_modules
build
npm-debug.log
.env

.DS_Store