
.idea/.idea.CodeCoverageTesting/.idea/
CodeCoverageTesting.UnitTests/obj/
CodeCoverageTesting.UnitTests/bin/
CodeCoverageTesting/obj/
CodeCoverageTesting/bin/

.yarn/*
!.yarn/patches
!.yarn/releases
!.yarn/plugins
!.yarn/sdks
!.yarn/versions
.pnp.*

node_modules
build
npm-debug.log
.env

.DS_Store