
CodeCoverageTesting/.idea/.idea.CodeCoverageTesting/.idea/

CodeCoverageTesting/CodeCoverageTesting.UnitTests/obj/
CodeCoverageTesting/CodeCoverageTesting.UnitTests/bin/

CodeCoverageTesting/CodeCoverageTesting/obj/
CodeCoverageTesting/CodeCoverageTesting/bin/
